{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"env": {
		"es6": true,
		"browser": true,
		"jest": true
	},
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"extends": [
		"airbnb-typescript",
		"airbnb/hooks",
		"plugin:@typescript-eslint/recommended",
		"plugin:jest/recommended",
		"prettier",
		"plugin:jsx-a11y/recommended",
		"plugin:prettier/recommended",
		"plugin:react/recommended",
		"plugin:import/typescript"
	],
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["src"],
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	},
	"rules": {
		"@typescript-eslint/no-inferrable-types": "off"
	}
}
